{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}


    <h1>Hello {{ user.username }}! ✅</h1>

    Welcome to your microblog account

    {% if articles|length is same as (0) %}
        <h3>You wrote no articles yet</h3>
    {% endif %}
    
{% endblock %}
