{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}
    <a href="account">Personnal Account</a>
    <a href="logout">LOGOUT</a>
{% elseif not is_granted('ROLE_USER') %}
    <a href="register">Register</a>
    <br>
    <a href="login">Log in</a>
{% endif %}

{% endblock %}
